body {
  font-family: Roboto;
}

.absolute {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.layout {
  display: flex;
}

.layout.row {
  flex-direction: row;
}

.layout.column {
  flex-direction: column;
}

.dynamic {
  flex: 0 0 auto;
}

.fitted {
  flex: 1 1 0;
}

.center {
  justify-content: center;
  align-items: center;
}

.overflow-y {
  overflow-y: auto;
}

.high {
  z-index: 1;
}

.input-label {
  display: block;
  margin-top: 14px;
  font-size: 12px;
  line-height: 22px;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}

.panel {
  width: 30%;
}

.filter {
  background-color: white;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
}

.filter > .inputs {
  padding: 0px 2vw;
}

.filter > .button-container {
  padding: 2vw;
}

.content {
  background-color: #f8f8f8;
  padding: 2vw;
}

.sun-card {
  background-color: white;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
  padding: 2vw;
}

.sun-card .center {
  padding: 1vw;
}
