body {
  font-family: Roboto;
}

body a {
  cursor: pointer;
  color: #5c6bc0;
}

.absolute {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.layout {
  display: flex;
}

.layout.row {
  flex-direction: row;
}

.layout.column {
  flex-direction: column;
}

.dynamic {
  flex: 0 0 auto;
}

.fitted {
  flex: 1 1 0;
}

.center {
  justify-content: center;
  align-items: center;
}

.overflow-y {
  overflow-y: auto;
}

.high {
  z-index: 1;
}

.about-table td {
  padding: 1vw;
}

.panel {
  width: 300px;
}

.filter {
  background-color: white;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
}

.filter > .inputs {
  padding: 0px 15px;
}

.filter > .button-container {
  padding: 15px;
}

.result {
  background-color: #f8f8f8;
  padding: 15px;
}

.result > div {
  margin-bottom: 15px;
}

.result > div:last-child {
  margin-bottom: 0;
}

.card {
  background-color: white;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.night.card > table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.night.card > table tr:not(:last-child) {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.night.card > table td {
  padding: 10px;
  vertical-align: middle;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.night.card > table td:nth-child(even) {
  text-align: right;
}

.list.card .sorter {
  cursor: pointer;
}

.list.card .sorter:hover {
  text-decoration: underline;
}
