body {
  font-family: Roboto;
}

.absolute {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.layout {
  display: flex;
}

.layout.row {
  flex-direction: row;
}

.layout.column {
  flex-direction: column;
}

.dynamic {
  flex: 0 0 auto;
}

.fitted {
  flex: 1 1 0;
}

.overflow-y {
  overflow-y: auto;
}

.input-label {
  display: block;
  margin-top: 14px;
  font-size: 12px;
  line-height: 22px;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}

.filter {
  width: 300px;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.35);
}

.filter > .inputs {
  padding: 0px 15px;
}

.filter > .button-container {
  padding: 15px;
}
