.Header.MuiAppBar-root {
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 50px;
  padding: 0 0.5rem 0 0.25rem;
  z-index: 3;

  .spacer {
    flex: 1 1 auto;
  }
}
