.Location.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  // room for the floating label of the first field
  padding-top: 0.5rem;

  .lat-lon {
    display: flex;
    gap: 1rem;

    > * {
      flex: 1 1 0%;
    }
  }
}
