body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #01579b;
  color: white;
  padding: 3em 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header #cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('cover.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: left top;
  opacity: 0.3;
}

header img {
  position: relative;
  height: 6em;
}

header h1 {
  position: relative;
  font-weight: 100;
  font-size: 4em;
  margin: 0;
}

header h2 {
  position: relative;
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 8px;
}

header #button-container {
  display: inline-block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

header #button-container a {
  display: inline-block;
  background-color: white;
  color: #01579b;
  padding: 1.5em;
  margin: 1.5em;
  font-weight: 300;
  font-size: 1.1em;
  outline: none;
  border: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
  max-width: 300px;
}

header #button-container i {
  color: #01579b;
  margin-right: .5em;
}

main {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  max-width: 900px;
  padding: 2em;
  margin-left: auto;
}

main #img-container {
  width: 100%;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.2);
  margin: 3em 0;
}

main #img-container a {
  display: block;
}

main #img-container a img {
  width: 100%;
}

main h3 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #01579b;
  margin-top: 3em;
}

main p {
  font-weight: 300;
  line-height: 1.6em;
  display: block;
  overflow: auto;
  font-size: 1.3em;
}

main ul {
  font-weight: 300;
  line-height: 1.6em;
}

main .icon-container {
  display: inline-block;
  text-align: center;
  float: left;
  margin: 1em 2em 2em 1em;
  width: 6em;
}

main i {
  color: #01579b;
  opacity: 0.5;
  font-size: 3em;
}

@media only screen and (max-width: 1000px) {
  header #button-container a {
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
  }

  header #button-container i {
    float: left;
  }
}
